@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
footer{
    color: #ff93938e;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #f8f9fa;
    /* padding: 20px; */
    gap: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

    width: calc(100vw - 0px);
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.score-red{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 2.5em;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-o{
    font-size: 2em;
}
.score-x{
    font-size: 2em;
}
.heading{
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.score-blue{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2.5em;
    background-color: #0011ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    padding: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 140px);
    background: linear-gradient(90deg, #FF0505 0%, #790961 50%,#0011FF 100%);
}
.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    /* border: 1px solid #000000; */
    background-color: #ffffff36;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.tern-container{
    display:none;
}
.game-container .base-container{
    width: 50%;
    height: 75%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    /* border: 1px solid #000000; */
    background-color: #ffffff13;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.base-container .box{
    border: 1px solid #c0c0c085;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffffff36;
    transition: all 1s;

}
.box:hover{
    background-color: #ffffffa4;
}
.box:active{
    background-color: #ffffff;
    color: #000000;
}
button.reset-btn{
    width: 50%;
    height: 50px;
    border: none;
    background-color: #ffffff70;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}
.reset-btn:hover{
    background-color: #ffffffa4;
}
.reset-btn:active{
    background-color: #ffffff;
    color: #000000;
}
.winner{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000a4;
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    z-index: -1000;
}

@media (max-width: 1080px) {
    header{
        justify-content: space-between;
        align-items: center;
    }
    header .heading{
        font-size: 1.5em;
    }
    .score-red, .score-blue{
        display: none;
    }
    .score-x, .score-o{
        font-size: 2em;
        padding: 5px 20px;
    }
    div.tern-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tern-container .tern{
        font-size: 1.5em;
        font-weight: bold;
        color: #ffffff;
    }
    .game-container .base-container{
        width: 75%;
        height: 50%;
    }
    .base-container .box{
        font-size: 3em;
    }
    .winner{
        font-size: 2em;
        width: 100vw;
        height: 100vh;
    }
}
